#header { position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 30px; }
#editor { position: absolute; top: 30px; right: 33%; bottom: 0; left: 0; }
#panel  { position: absolute; top: 30px; right: 0; bottom: 0; width: 33%; }

.ace_gutter-cell { visibility: hidden }

#header {
  background-color: #aaa;
}

#panel {
  background-color: #eee;
  font-family: helvetica;
  font-size: 0.8em;
  padding-top: 10px;
  overflow-y: scroll;
}

#panel ul {
  padding: 0;
  list-style-type: none;
}

#panel label {
  padding: 5px;
}

#panel li {
  padding: 5px;
  border-bottom: 1px solid #cccccc;
}

#panel div.text {
  max-height: 2.4em;
  overflow: auto;
  color: #555;
  font-size: 0.8em;
  margin-top: 4px;
}

#panel li a {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  text-decoration: none;
  color: #C5060B;
}