<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="UTF-8">
    <title>Semantic Editor</title>
    <link rel="stylesheet" href="css/editor.css"></link>
  </head>
  <body>
    
    <div ng-controller="AnnotationController">
      
      <div id="header"></div>
      
      <div id="editor">{para}Macroeconomics (from Greek prefix {greek}"makros-" meaning "large"{/greek} + "economics") 
is {branch}a branch of economics dealing with the performance, structure, behavior, and decision-making of 
an economy as a whole, rather than individual markets{/branch}. This includes {geog}national, regional, and global 
economies{/geog}.[1][2] With microeconomics, macroeconomics is one of the two most general fields in economics.
Macroeconomists study aggregated indicators such as GDP, unemployment rates, and price indices to 
understand {ann-x}how the whole economy functions{/ann-x}.{/para}
{para}
Macroeconomists develop models that explain the 
relationship between such factors as {income}national income{/income}, output, consumption, unemployment, inflation, 
savings, investment, international trade and international finance. In contrast, microeconomics is 
primarily focused on the actions of individual agents, such as firms and consumers, and how their 
behavior determines prices and quantities in specific markets. While macroeconomics is a broad field of 
study, there are two areas of research that are emblematic of the discipline: the attempt to 
understand the causes and consequences of short-run fluctuations in {income}national income{/income} (the business 
cycle), and the attempt to understand the determinants of long-run economic growth (increases in 
national income).{/para}
Macroeconomic models and their forecasts are used by both governments and large corporations to assist in the development and evaluation of economic policy and business strategy.{note}[citation needed]{/note}</div>

      <div id="panel">
        <label>{{annotations.length}} annotations</label>
        <ul id="annotations">
          <li class="annotation" ng-repeat="annotation in annotations">
            <a class="key" ng-click="selectAnnotation(annotation)">{{ '{' }}{{annotation.key}}{{ '}' }}</a>
            <div class="text">{{annotation.text}}</div>
          </li>
        </ul>
      </div>
    </div>
    
    <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/editor.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>